<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <add value="index.php" />
                <add value="personal.html" />
            </files>
        </defaultDocument>
        <handlers>
            <remove name="PHP" />
            <add name="PHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\php-8.0.2-Win32-vs16-x64\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
